
 <div class="firstStepcontent">

     <p-dialog header="Title" [(visible)]="display" [contentStyle]="{'height': '740px'}"  [width]="800" [blockScroll]="true" [modal]="true" [dismissableMask]="true" [showHeader]="false">
         <div class="center">
             <i class="close_icon fa fa-times fa-2x" aria-hidden="true" (click)="closeDialog()"></i>
            <img  src="http://www.kosze.waw.pl/images/basketext/basket-image/{{selectedImgeToPreview}}.jpg" alt="Galleria 1" height="700" width="700" />
         </div>
     </p-dialog>

     <!--<p-overlayPanel styleclass="center-div" #op1 >-->
         <!--<img  src="http://www.kosze.ovh/basket-image/{{selectedImgeToPreview}}.jpg" alt="Galleria 1" height="500" width="500" />-->
     <!--</p-overlayPanel>-->

     <div class="sorting_section">


             <div class="price-sort-div">
                <h1 >Cena od: {{rangeValues[0]/100 + ' zł do ' + rangeValues[1]/100+ ' zł'}} </h1>
                <p-slider *ngIf="filtersLoaded | async" [(ngModel)]="rangeValues" [style]="{'width':'14em'}"  [range]="true" [min]="rangeConst[0]" [max]="rangeConst[1]"   (onSlideEnd)="filterByPriceRange(rangeValues[0],rangeValues[1])"></p-slider>
             </div>

            <div class="sortdiv">
                <span> Sortuj: </span>
                <button type="button" class="btn btn-secondary" (click)="sortBasketASC()">Rosnąco</button>
                <button type="button" class="btn btn-secondary" (click)="sortBasketDESC()">Malejąco</button>
            </div>

    </div>


    <div class="container-fluid">
        <div class="row basket_card">


                <p-card *ngFor="let basket of basketfiltered"  class="basket_card_in fadeIn" title="{{basket.basketName}}" [style]="{width: '260px',height:'390px'}">


                     <div *ngIf="basket.isAvailable==1"class="available_status" >
                         <img  *ngIf="basket.isAvailable==1"  src="/content/images/yes.png" alt="Galleria 1" height="20" width="20" />
                         <span> Dostępny</span>
                     </div>

                    <div *ngIf="basket.isAvailable==0" class="available_status" >
                        <img  *ngIf="basket.isAvailable==0"  src="/content/images/no.png" alt="Galleria 1" height="20" width="20" />
                        <span> Brak</span>
                    </div>


                    <img  *ngIf="basket.isAlcoholic==1" class="alcohol_img" src="/content/images/kieliszek.jpg" alt="Galleria 1" height="32" width="32" />
                        <img src="http://www.kosze.waw.pl/images/basketext/basket-image/{{basket.basketId}}.jpg"  height="230" width="230" alt="" (click)="showDialog() ;selectImageToPreview(basket.basketId)">

                    <!--<img src="http://www.kosze.ovh/basket-image/{{basket.basketId}}.jpg"  height="230" width="230" alt="" (click)="showDialog() ;selectImageToPreview(basket.basketId)">-->

                    <div class="basket_price">{{basket.basketTotalPrice/100| number : '1.2-2'}} zł</div>
                    <button *ngIf="!idExistsOnSelectedBasket(basket.basketId)"type="button" class="addBasketButton fadeIn" [disabled]='idExistsOnSelectedBasket(basket.basketId)'  (click)="addBasket(basket)" >Dodaj</button>
                    <button *ngIf="idExistsOnSelectedBasket(basket.basketId)" type="button" class="del_button addBasketButton fadeIn" [disabled]='!idExistsOnSelectedBasket(basket.basketId)'  (click)="removeFromSelectedBasketList(basket.basketId)" >Usuń</button>
                </p-card>
        </div>
    </div>

</div>
