<p-panel header="Wybierz kosze do katalogu">
    <p-dataTable [value]="baskets" [rows]="10" [paginator]="true"  #dt
     loadingIcon="fa-circle-o-notch" expandableRows="true" (onRowDblclick)="addBasket($event.data)">
    <p-column expander="true" header="Zawartośćsdsds" styleClass="col-icon " [style]="{'width':'70px'}"></p-column>

    <p-column  header="lp."   [style]="{'width':'70px'}">
        <ng-template let-i="rowIndex" pTemplate="rowexpansion">
            {{i+1}}
        </ng-template>
    </p-column>


    <p-column field="basketName" header="Nazwa kosza" [sortable]="true"></p-column>
    <p-column field="basketTotalPrice"  header="Cena kosza"  [sortable]="true" >
        <ng-template let-row="rowData" pTemplate="body">
            {{row.basketTotalPrice/100| number : '1.2-2'}} zł.
        </ng-template>
    </p-column>

    <p-column  header="Zdjęcie kosza"  [style]="{'width':'120px'}">
        <ng-template let-basket="rowData" pTemplate="body">


            <img src="http://generatorzestawow.pl/basket-image/{{basket.basketId}}.jpg" class="img-fluid" height="100" width="100" alt="" (click)="op1.toggle($event) ;selectImageToPreview(basket.basketId)">
        </ng-template>
    </p-column>

    <ng-template let-basket pTemplate="rowexpansion">
        <div class="basket_products_info">
            Zawartość kosza:  {{basket.basketName}}
            <table class="product_tab" >
                <thead>
                <tr class="product_tab_row">
                    <th>Nazwa Produktu</th>
                    <th>Pojemność</th>
                    <th>Cena zakupu</th>
                    <th>Ilość</th>
                </tr>
                </thead>
                <tbody>
                <tr class="product_tab_row" *ngFor="let i of basket.basketItems">
                    <td>{{i.product.productName}}</td>
                    <td>{{i.product.capacity}}</td>
                    <td>{{i.product.price/100| number : '1.2-2'}} zł</td>
                    <td>{{i.quantity}} szt.</td>
                </tr>
                </tbody>
            </table>

        </div>

    </ng-template>

    </p-dataTable>


    <jhi-selected-baskets>dfdfdf </jhi-selected-baskets>

    <p-overlayPanel #op1>
        <img src="http://generatorzestawow.pl/basket-image/{{selectedImgeToPreview}}.jpg" alt="Galleria 1" height="300" width="300" />
    </p-overlayPanel>
</p-panel>
