<!--<p-contextMenu [global]="true"  [model]="items"> </p-contextMenu>-->
<!--<div class="panelStep1">-->
    <!--<p-panel class="panelStep1" header="Wybierz kosze do katalogu">-->
        <!--<p-dataTable [value]="baskets" [rows]="10" [paginator]="true"  #dt-->
         <!--loadingIcon="fa-circle-o-notch" expandableRows="true" (onRowDblclick)="addBasket($event.data)"-->
                     <!--(onContextMenuSelect)="contextMenuSelected($event)"   [contextMenu]="menu">-->
        <!--<p-column expander="true" header="Zawartość" styleClass="col-icon " [style]="{'width':'90px'}"></p-column>-->

        <!--<p-column  header="lp."   [style]="{'width':'70px'}">-->
            <!--<ng-template let-i="rowIndex" pTemplate="rowexpansion">-->
                <!--{{i+1}}-->
            <!--</ng-template>-->
        <!--</p-column>-->


        <!--<p-column field="basketName" header="Nazwa kosza" [sortable]="true"></p-column>-->
        <!--<p-column field="basketTotalPrice"  header="Cena kosza"  [sortable]="true" >-->
            <!--<ng-template let-row="rowData" pTemplate="body">-->
                <!--{{row.basketTotalPrice/100| number : '1.2-2'}} zł.-->
            <!--</ng-template>-->
        <!--</p-column>-->

        <!--<p-column  header="Zdjęcie kosza"  [style]="{'width':'120px'}">-->
            <!--<ng-template let-basket="rowData" pTemplate="body">-->


                <!--<img src="http://generatorzestawow.pl/basket-image/{{basket.basketId}}.jpg" class="img-fluid" height="100" width="100" alt="" (click)="op1.toggle($event) ;selectImageToPreview(basket.basketId)">-->
            <!--</ng-template>-->
        <!--</p-column>-->

        <!--<ng-template let-basket pTemplate="rowexpansion">-->
            <!--<div class="basket_products_info">-->
                <!--Zawartość kosza:  {{basket.basketName}}-->
                <!--<table class="product_tab" >-->
                    <!--<thead>-->
                    <!--<tr class="product_tab_row">-->
                        <!--<th>Nazwa Produktu</th>-->
                        <!--<th>Pojemność</th>-->
                        <!--<th>Ilość</th>-->
                    <!--</tr>-->
                    <!--</thead>-->
                    <!--<tbody>-->
                    <!--<tr class="product_tab_row" *ngFor="let i of basket.basketItems">-->
                        <!--<td>{{i.product.productName}}</td>-->
                        <!--<td>{{i.product.capacity}}</td>-->
                        <!--<td>{{i.quantity}} szt.</td>-->
                    <!--</tr>-->
                    <!--</tbody>-->
                <!--</table>-->

            <!--</div>-->

        <!--</ng-template>-->

        <!--</p-dataTable>-->


        <!--<jhi-selected-baskets>dfdfdf </jhi-selected-baskets>-->

        <!--<p-overlayPanel #op1>-->
            <!--<img src="http://generatorzestawow.pl/basket-image/{{selectedImgeToPreview}}.jpg" alt="Galleria 1" height="300" width="300" />-->
        <!--</p-overlayPanel>-->
    <!--</p-panel>-->
<!--</div>-->
 <div class="firstStepcontent">

     <p-overlayPanel #op1 >
         <img  src="http://generatorzestawow.pl/basket-image/{{selectedImgeToPreview}}.jpg" alt="Galleria 1" height="500" width="500" />
     </p-overlayPanel>

     <div class="sorting_section">


             <div class="price-sort-div">
                <h1 >Cena od: {{rangeValues[0] + ' zł do ' + rangeValues[1]+ ' zł'}} </h1>
                <p-slider *ngIf="filtersLoaded | async" [(ngModel)]="rangeValues" [style]="{'width':'14em'}"  [range]="true" [min]="rangeConst[0]" [max]="rangeConst[1]"   (onSlideEnd)="filterByPriceRange(rangeValues[0],rangeValues[1])"></p-slider>
             </div>

            <div class="sortdiv">
                <span> Sortuj: </span>
                <button type="button" class="btn btn-secondary" (click)="sortBasketASC()">Rosnąco</button>
                <button type="button" class="btn btn-secondary" (click)="sortBasketDESC()">Malejąco</button>
            </div>

    </div>


    <div class="container-fluid">
        <div class="row basket_card">


                <p-card *ngFor="let basket of basketfiltered"  class="basket_card_in fadeIn" title="{{basket.basketName}}" [style]="{width: '260px',height:'390px'}">

                    <img  *ngIf="basket.isAlcoholic==1" class="alcohol_img" src="/content/images/kieliszek.jpg" alt="Galleria 1" height="32" width="32" />
                        <img src="http://generatorzestawow.pl/basket-image/{{basket.basketId}}.jpg"  height="230" width="230" alt="" (click)="op1.toggle($event) ;selectImageToPreview(basket.basketId)">


                    <div class="basket_price">{{basket.basketTotalPrice}} zł</div>
                    <button *ngIf="!idExistsOnSelectedBasket(basket.basketId)"type="button" class="addBasketButton fadeIn" [disabled]='idExistsOnSelectedBasket(basket.basketId)'  (click)="addBasket(basket)" >Dodaj</button>
                    <button *ngIf="idExistsOnSelectedBasket(basket.basketId)" type="button" class="del_button addBasketButton fadeIn" [disabled]='!idExistsOnSelectedBasket(basket.basketId)'  (click)="removeFromSelectedBasketList(basket.basketId)" >Usuń</button>
                </p-card>
        </div>
    </div>

</div>
