<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 *ngIf="account">Zmiana hasła dla użytkownika  [<b>{{account.login}}</b>]</h2>

            <div class="alert alert-success" *ngIf="success">
                <strong>Hasło zostało zmienione!</strong>
            </div>
            <div class="alert alert-danger" *ngIf="error" >
                <strong>Wystąpił błąd</strong> Hasło nie zostało zmienione.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch">
                Hasła nie są zgodne
            </div>

            <form name="form" role="form" (ngSubmit)="changePassword()" #passwordForm="ngForm">

                <div class="form-group">
                    <label class="form-control-label" for="currentPassword">Obecne hasło</label>
                    <input type="password" class="form-control" id="currentPassword" name="currentPassword" #currentPasswordInput="ngModel"
                           placeholder="Obecne hasło"
                           [(ngModel)]="currentPassword" required>
                    <div *ngIf="currentPasswordInput.dirty && currentPasswordInput.invalid">
                        <small class="form-text text-danger"
                               *ngIf="currentPasswordInput.errors.required">
                            Podaj hasło
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="newPassword">Nowe hasło</label>
                    <input type="password" class="form-control" id="newPassword" name="newPassword" #newPasswordInput="ngModel"
                    placeholder="Nowe hasło"
                           [(ngModel)]="newPassword" minlength=4 maxlength=50 required>
                    <div *ngIf="newPasswordInput.dirty && newPasswordInput.invalid">
                        <small class="form-text text-danger"
                           *ngIf="newPasswordInput.errors.required">
                            Wypełnij to pole.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="newPasswordInput.errors.minlength">
                            Hasło musi składać się conajmniej z 4 znaków.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="newPasswordInput.errors.maxlength">
                            Hasło nie może być dłuższe nić 50 znaków
                        </small>
                    </div>
                    <jhi-password-strength-bar [passwordToCheck]="newPassword"></jhi-password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="confirmPassword">Podaj nowe hasło ponownie</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel"
                    placeholder="Podaj nowe hasło ponownie"
                           [(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>
                    <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                        <small class="form-text text-danger"
                           *ngIf="confirmPasswordInput.errors.required">
                            Wypełnij to pole.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="confirmPasswordInput.errors.minlength">
                            Hasło musi składać się conajmniej z 4 znaków.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="confirmPasswordInput.errors.maxlength">
                            Hasło nie może być dłuższe nić 50 znaków.
                        </small>
                    </div>
                </div>

                <button type="submit" [disabled]="passwordForm.form.invalid" class="btn btn-primary">Zapisz</button>
            </form>
        </div>
    </div>
</div>
