<div>
    <h2 id="page-heading">
        <span>Archiwum wygenerowanych katalogów</span>

    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="catalogArchives">
        <table class="table table-striped">
            <thead>
            <tr>
           <th><span>Data</span></th>
            <th><span>Nazwa Katalogu</span></th>
            <th><span>Dla</span></th>
            <th><span>Przedstawiciel</span></th>
            <th><span>Dodatkowe informacje</span></th>
            <th><span>Motyw</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let catalogArchive of catalogArchives ;trackBy: trackId">
                <td>{{catalogArchive.dateOfGenerate| date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                <td>{{catalogArchive.catalogName}}</td>
                <td>{{catalogArchive.forWho}}</td>
                <td>{{catalogArchive.customerAssistantName}}</td>

                <td>{{catalogArchive.catalogAdditionalDesc}}</td>
                <td>{{catalogArchive.catalogTheme}}</td>

                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button (click) = "genCatalog(catalogArchive.id)">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">Wygeneruj</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'catalog-archive/'+ catalogArchive.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Usuń</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<p-dialog  header="Generowanie katalogu" closeOnEscape="true" modal="true" width="400" height="200" [(visible)]="showPdfGenStatusModal"  >

    <div *ngIf="!fileFilterLoaded" class="loading fadeIn">
        <p-progressSpinner ></p-progressSpinner>
        <p> Trwa generowanie katalogu </p>
    </div>

    <div *ngIf="fileFilterLoaded" class="loading fadeIn">

        <p class="pdf_link" (click)="openPdfInBrowser()"> Pobierz katalog </p>
    </div>






</p-dialog>


