<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Dodaj użytkownika</h1>

            <div class="alert alert-success" *ngIf="success">
                <strong>Dodano użytkownika</strong>
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <strong>Błąd</strong> Spróbuj ponownie poźniej
            </div>

            <div class="alert alert-danger" *ngIf="errorUserExists">
                <strong>Podany login jest już zarezerwowany</strong> Proszę wybrać inny.
            </div>

            <div class="alert alert-danger" *ngIf="errorEmailExists">
                <strong>Podany email jest już zarezerwowany</strong> Proszę wybrać inny.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch">
                Hasła się nie zgadzają
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form name="form" role="form" (ngSubmit)="register()" #registerForm="ngForm" *ngIf="!success">
                <div class="form-group">
                    <label class="form-control-label" for="login">Użykownik</label>
                    <input type="text" class="form-control" [(ngModel)]="registerAccount.login" id="login" name="login" #login="ngModel" placeholder="login"
                            required minlength="1" maxlength="50" pattern="^[_.@A-Za-z0-9-]*$">
                    <div *ngIf="login.dirty && login.invalid">
                        <small class="form-text text-danger" *ngIf="login.errors.required">
                            To pole jest obowiązkowe.
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.minlength"
                               >
                            Login musi posiadać conajmniej 2 znaki
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.maxlength"
                               >
                            Login nie może być dłuższy niż 50 znaków
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.pattern"
                              >
                           Login może zawierać tylko litery i cyfry
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" #email="ngModel" placeholder="email"
                            [(ngModel)]="registerAccount.email" required minlength=5 maxlength=254 email >
                    <div *ngIf="email.dirty && email.invalid">
                        <small class="form-text text-danger" *ngIf="email.errors.required"
                               >
                            To pole jest obowiązkowe.
                        </small>
                        <small class="form-text text-danger" *ngIf="email.errors.invalid"
                              >
                            Email jest nie poprawny
                        </small>
                        <small class="form-text text-danger" *ngIf="email.errors.minlength"
                              >
                            Email musi zawierać przynajmniej 5 znaków
                        </small>
                        <small class="form-text text-danger" *ngIf="email.errors.maxlength"
                              >
                            Email nie może być dłuższy niż 100 znaków
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="password">Nowe hasło</label>
                    <input type="password" class="form-control" id="password" name="password" #password="ngModel" placeholder="hasło"
                            [(ngModel)]="registerAccount.password" minlength=4 maxlength=50 required>
                    <div *ngIf="password.dirty && password.invalid">
                        <small class="form-text text-danger" *ngIf="password.errors.required"
                               >
                            To pole jest obowiązkowe.
                        </small>
                        <small class="form-text text-danger" *ngIf="password.errors.minlength"
                               >
                           Hasło musi zawierać przynajmniej 4 znaki.
                        </small>
                        <small class="form-text text-danger" *ngIf="password.errors.maxlength"
                               >
                            Hasło nie może być dłuższe niż 50 znaków
                        </small>
                    </div>
                    <jhi-password-strength-bar [passwordToCheck]="registerAccount.password"></jhi-password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="confirmPassword">Powtórz hasło</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel" placeholder="powtórz hasło"
                            [(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>
                    <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.required"
                              >
                            To pole jest obowiązkowe.
                        </small>
                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.minlength"
                             >
                            Hasło zawierać przynajmniej 4 znaki.
                        </small>
                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.maxlength"
                              >
                            Hasło nie może być dłuższe niż 50 znaków
                        </small>
                        </small>
                    </div>
                </div>

                <button type="submit" [disabled]="registerForm.form.invalid" class="btn btn-primary">Dodaj użytkownika</button>
            </form>
            <p></p>

        </div>
    </div>
</div>
