/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url('../../content/images/kosz_start.png') no-repeat center top;
    background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (-moz-min-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    .hipster {
        background: url('../../content/images/kosz_start.png') no-repeat center top;
        background-size: contain;
    }
}

.points {
    width: 500px;
    height: 700px;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
}

.step-num {
    font-size: 30px;
    color: #353d47;
    color: #ee3162;
}

.points-cont {
    text-align: left;
    margin-left: 150px;
    padding-bottom: 30px;
}

.step-text {
    position: relative;
    top: -8px;
    left: 20px;
    color: #212529;
}

.login {
    padding-top: 30px;
    padding-bottom: 15px;
    text-align: left;
    background-color: #fbfbfb;
}

.rej-btn {
    background-color: #ee3162;
    color: #ffffff;
    margin-bottom: 25px;
}

.head-start-one {
    color: #0e9ae5;
}

.log-btn {
    background-color: #0e9ae5;
    color: #ffffff;
    margin-bottom: 25px;
}

.head-start {
    color: #212529;
    font-size: 38px;
}
