<p-table [value]="selectedBasketService.selectedBasket"  [(contextMenuSelection)]="selectedCar" [contextMenu]="cm">
      <ng-template pTemplate="header">
          <tr>
              <th></th>
              <th>Numer strony</th>
              <th>Nazwa</th>
              <th>Cena kosza</th>
              <th>Zdjęcie kosza</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-row let-index="rowIndex">

          <tr [pReorderableRow]="index">
              <td>
                  <i class="fa fa-bars" pReorderableRowHandle></i>
              </td>
              <td>{{index+1}}</td>
              <td>{{row.basketName}}</td>

              <td pEditableColumn>
                  <p-cellEditor>
                      <ng-template pTemplate="input">
                          <input type="text" [(ngModel)]="row.basketTotalPrice">
                      </ng-template>
                      <ng-template pTemplate="output">
                          {{row.basketTotalPrice}}
                      </ng-template>
                  </p-cellEditor>
              </td>

              <td>
                  <img src="http://generatorzestawow.pl/basket-image/{{row.basketId}}.jpg" class="img-fluid" height="100" width="100" alt="" (click)="op1.toggle($event);selectImageToPreview(row.basketId)">
              </td>
          </tr>


      </ng-template>
</p-table>



<p-overlayPanel #op1>
    <img src="http://generatorzestawow.pl/basket-image/{{selectedImgeToPreview}}.jpg" alt="Galleria 1" height="300" width="300" />
</p-overlayPanel>

<p-contextMenu #cm  [model]="items"> </p-contextMenu>
