

<p-table [value]="selectedBasketService.selectedBasket" >
      <ng-template pTemplate="header">
          <tr>
              <th class="order_col">Przesuń</th>
              <th >Numer strony</th>
              <th >Nazwa</th>
              <th>Cena kosza</th>
              <th>Zdjęcie kosza</th>
              <th class="action_col">Akcja</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-row let-index="rowIndex">

          <tr [pReorderableRow]="index">
              <td >
                  <i class="fa fa-bars fa-2x icon_bar" pReorderableRowHandle></i>
                  <i class="fa fa-arrow-up fa-2x icon_up" aria-hidden="true" (click)="UpOnList(row.basketId)"></i>
                  <i class="fa fa-arrow-down fa-2x" aria-hidden="true" (click)="DownOnList(row.basketId)"></i>
              </td>
              <td>strona {{index+1}}</td>
              <td pEditableColumn>
                  <p-cellEditor>
                      <ng-template pTemplate="input">
                          <input type="text" [(ngModel)]="row.basketName">
                      </ng-template>
                      <ng-template pTemplate="output">
                          {{row.basketName}}
                      </ng-template>
                  </p-cellEditor>
              </td>

              <td pEditableColumn>
                  <p-cellEditor>
                      <ng-template pTemplate="input">
                          <input type="text" [(ngModel)]="row.basketTotalPrice">
                      </ng-template>
                      <ng-template pTemplate="output">
                          {{row.basketTotalPrice}} zł
                      </ng-template>
                  </p-cellEditor>
              </td>

              <td>
                  <img src="http://www.kosze.ovh/basket-image/{{row.basketId}}.jpg" class="img-fluid" height="80" width="80" alt="" (click)="op1.toggle($event);selectImageToPreview(row.basketId)">
              </td>

              <td>
                  <i class="fa fa-trash fa-2x edit_icon" aria-hidden="true" title="Usuń zamówienie" (click)="selectedBasketService.removeBasket(row.basketId)"></i>
              </td>

          </tr>


      </ng-template>
</p-table>



<p-overlayPanel #op1>
    <img src="http://www.kosze.ovh/basket-image/{{selectedImgeToPreview}}.jpg" alt="Galleria 1" height="300" width="300" />
</p-overlayPanel>



